
@import url(responsive.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    margin: 0;
    padding: 0;
list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(229, 205, 252);
}
h1{
    margin: 20px 50px;
    color: rgb(37, 85, 87);
}
.stle-head img{
width: 100px;
height: 100px;
 margin-left: 100px;
 border-radius: 50%;
 display: block;
}
.nav-bar{
    position: relative;
    top: -180px;
    max-width: 50%;
    right: -50%;
    background-color: rgb(73, 73, 73);
    border-radius: 7px;
}
.nav-menu{
width: 100%;
min-height: 100px;
position: relative;
top: 20px;
}
.nav-menu ul{
    display: flex;
justify-items: right;
justify-content:space-around ;
}
.nav-menu li a{
    color: #fff;
    border: transparent;
    display: block;
    width: 100%;
    transition: .4s ease;
}
.nav-menu li :hover{
    border-bottom: 3px solid #dfd8df;
    position: relative;
}
.nav-bar input{
    margin: 20px 15px;
    border: 0;
    outline: none;
    padding: 10px 5px;
    width: 300px;
    position: relative;
    border-radius: 5px;
}
.reponsive{
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    position: relative;
}
.reponsive button{
    
    height: 44px;
    width: 66px;
    border-radius: 5px;
    border: 0;
    outline: none;
    margin-top: 13px;
    background-color: #14df14;
    color: #fff;
}
@media screen and (max-width: 950px){
    .reponsive{
        flex-direction: column;  
    }
   
}
@media screen and (max-width: 750px){
    .nav-menu ul{
      display: flex;
      flex-direction: column;
   text-align: right;
    }
    .nav-menu ul li{
        margin: 20px 0;
    }
    .nav-bar input{
        width: 170px;
    }
    .nav-menu{
        height: 50vh;
    }
    .reponsive button{
    top: -68px;
    position: relative;
    height: 35px;
    right: -150px;
    }
}
.top-header{
    width: 100%;
    height: 300px;
    position: relative;
  top:-117px;
background-color: #79dfc5;
}
.main-top-header{
    width: 100%;
    height: 250px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}
.main-top-header img{
    width: 230px;
    height: 270px;
    object-fit: cover;
    border-radius: 10%;
    margin-top: 15px;
}
.title h2{
    margin: 20px;
    cursor: pointer;
}
.title h2 span{
    color: #a4af04;
    font-size: 30px;
}
.title p{
    margin-left: 20px;
    font-size: 18px;
    color: #2c2c2c;
    cursor: pointer;
}
.title button{
    margin: 80px 50px;
    border: 0;
    outline: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(247, 134, 54);
    font-weight: 600;
}
@media screen and (max-width:950px){
    .main-top-header img{
        width: 150px;
        height: 200px;
    }
    .slider{
        margin: 50px 0;
    }
    .slider-2 img{
        width: 600px;
        height: 450px;
        object-fit: cover;
        display: block;
       z-index: -1;
    }
}
@media screen and (max-width: 700px){
    .main-top-header img{
    width: 100px;
    height: 150px;
    object-fit: cover;
    }
    .title{
        width: 100px;
        height: 150px;
    }
    .title button{
        margin: 30px 10px;
    }
}
.slider-2{
   width: 100%;
    max-height: 450px;
    position: relative;
    cursor: pointer;
   display: flex;
 justify-content: center;
   flex-direction: column;
   align-items: center;
   right: 0;
   left: 0;
   top: -30px;
}
.slider-2 img{
  width: 900px; 
height: 500px;
 object-fit: cover;
 
}
.slider-2 h3{
    margin: 20px 0;
    font-size: 34px;
    position: relative;

}
.slider-2 h3::before{
    content: "";
    width: 250px;
    height: 3px;
    background-color: #a4af04;
    margin-top: 40px;
 left: -14px;
    position: absolute;
}
/*********** start-title main **************/
.wrapper{
    border-top: 2px solid #868383;
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 60px;
    background:linear-gradient(45deg, blue, #d7d7d7, green) ;
  display: flex;
  justify-content: space-around;
}
.row-1{
    min-width: 60%;
    height: 100%;
    display: block;
    position: relative;
}
.row-1 h3{
    margin: 30px 0;
    display: block;
    cursor: pointer;
    width: 100%;
}
.row-1 h3 span{
    color: #ef7d03;
}
.row-1 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    position: absolute;
    margin-left: 320px;
    border-radius: 27px; 
    animation: ripple 0.6s linear infinite;
}
@keyframes ripple{
    0%{box-shadow: 0 0 0 0 rgba(255, 255, 255, .1), 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1),  0 0 0 60px rgba(255, 255, 255, .1);}
   100%{box-shadow: 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1), 0 0 0 60px rgba(255, 255, 255, .1),   0 0 0 60px rgba(255, 255, 255, 0);}
}
.row-1 p{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
 text-align: justify;
 display: block;
}
.row-2{
    min-width: 40%;
    height: 100%;
    display: block;
    position: relative;
}
.row-2 img{
width: 400px;
height: 300px;
object-fit: cover;
display: block;
}

/*********** end-title main **************/















